Azure Data Factory/Increm_data_pipeline.txt
{
    "name": "Increm_data_pipeline",
    "properties": {
        "activities": [
            {
                "name": "Copy_Increm_Data",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "LastLoad",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "CurrentLoad",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM source_cars_data WHERE Date_ID > '@{activity('LastLoad').output.value[0].LastLoad}' AND Date_ID <= '@{activity('CurrentLoad').output.value[0].MaxDate}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_SQLDatabase",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "source_cars_data"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Bronze",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "LastLoad",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT * FROM WaterMarkTable",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQLDatabase",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "WaterMarkTable"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "CurrentLoad",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT MAX(Date_ID) as MaxDate FROM source_cars_data",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQLDatabase",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "source_cars_data"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "WaterMarkTableUpdate",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy_Increm_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[UpdateWaterMarkTable]",
                    "storedProcedureParameters": {
                        "lastload": {
                            "value": {
                                "value": "@activity('CurrentLoad').output.value[0].MaxDate",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_SQLDatabase",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-02-10T19:26:56Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}